// -----------------------------------------------
// Variables
// -----------------------------------------------

$light-brown: #D7D2C5;
$black: #000000;

// All typogrpahy scales off of this value
$base-text-size: 21px;

// Set correct font ordering, if typekit isn't working use system default fonts
$font-body: "source-serif-pro", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

$font-headline: "roc-grotesk-wide", sans-serif;



// -----------------------------------------------
// Element Styles
// -----------------------------------------------

// 1. Set box-sizing globally so it can be inherited more cleanly
// 2. Prevent adjustments of font size after orientation changes in iOS
html {
	box-sizing: border-box; // (1)
	-webkit-text-size-adjust: 100%; // (2)
}

// Reset box-sizing everywhere and tell it to inherit
*,
*:before,
*:after {
	box-sizing: inherit;
}

// 1. Remove the margin
// 2. Set some typography defaults
// 3. Set correct font ordering, this will default to system fonts
body {
    margin: 0; // (1)
    background-color: $light-brown;
    color: $black;
	line-height: 1.618; // (2)
	font-size: $base-text-size; // (2)
	font-family: $font-body; // (2)(3)
    
    // Dark mode styles
    @media (prefers-color-scheme: dark) {
        color: $light-brown;
        background-color: $black;
    }
}

// Let anchors inherit default body color
a {
    color: inherit;
}

// Make sure this works good in IE
// https://caniuse.com/#feat=html5semantic
main {
    display: block;
}

// 1. Use vw for some responsive gutters
article {
    padding-left: 5vw; // (1)
    padding-right: 5vw; // (1)
}

// - - - - - - - - - - - - - - - - - - - - - - - -
// Typography

// Headline styles
h1, h2, h3, h4, h5, h6 {
    margin: 2.618rem 0 2.236rem;
    color: $black;
    line-height: 1.168;
    font-family: $font-headline;
    font-weight: 500;
    letter-spacing: 0.015em;
    
    // Dark mode styles
    @media (prefers-color-scheme: dark) {
        color: $light-brown;
    }
}

// H1 is small and located in the top corner
h1 {
    font-size: 1em;
    
    // There is a link in the site h1
    > a {
        text-decoration: none;
    }
}

// Font-size is 2.386em * 21px = 50px
h2 {
    font-size: 2.382em;
}



// -----------------------------------------------
// General Styles
// -----------------------------------------------

// Container styles
// 1. Large padding top and bottom
//    3.618 * 21 = 76px
//    4.236 * 21 = 89px
// 2. 32.3 * 21 = 678px
.container {
	padding: 3.618em 0 4.236em 0; // (1)
	max-width: 32.3em; // (2)
    width: 100%;
}