// $dark-grey: #16191b;
$dark-grey: #2f4c54;

// 1. Set box-sizing globally so it can be inherited more cleanly
// 2. Prevent adjustments of font size after orientation changes in iOS
html {
	box-sizing: border-box; // (1)
	-webkit-text-size-adjust: 100%; // (2)
}

// Reset box-sizing everywhere and tell it to inherit
*,
*:before,
*:after {
	box-sizing: inherit;
}

// 1. Remove the margin
// 2. Set some typography defaults
// 3. Set correct font ordering, if not PT Sans just use system default
body {
	margin: 0; // (1)
	line-height: 1.444; // (2)
	font-size: 32px; // (2)
	color: $dark-grey;
	// background-color: #f9f7f3;
	font-family: "Libre Caslon Text", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif; // (2)(3)
}

// Make sure this works good in IE
// https://caniuse.com/#feat=html5semantic
main {
	display: block;
	display: flex;
	padding-left: 5vw;
	padding-right: 5vw;
}

// Headline styles
// 1. Font-size is 2.386em * 18px = 42.8px
h1 {
	font-family: "Yeseva One", serif;
	font-size: 2.618em; // (1)
	line-height: 1.15;
	margin: 2.75rem 0 1.05rem;
	color: #ad662b;
}

.container {
	padding-top: 4.236em;
	max-width: 36em;
	width: 100%;
}
